<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472692271505-6itl29hhoa1u6lo9unpnb07jqgqald9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472692271505-6itl29hhoa1u6lo9unpnb07jqgqald9r</string>
	<key>API_KEY</key>
	<string>AIzaSyApMm9o3CnUdqi1YBwaxxX3p4yGwU88rFU</string>
	<key>GCM_SENDER_ID</key>
	<string>472692271505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aqgt.aqgreen.staging</string>
	<key>PROJECT_ID</key>
	<string>equa-green</string>
	<key>STORAGE_BUCKET</key>
	<string>equa-green.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472692271505:ios:8b00d898d9bdd4d38bd230</string>
</dict>
</plist>